* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --front-color: rgb(92, 207, 176);
    --back-color: rgb(21, 78, 56);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--back-color);
    color: var(--front-color);
    width: 100vw;
    max-width: 910px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    gap: 1.5em;
    padding-bottom: 5vh;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    padding-inline: 0.5em;
    padding-bottom: .07em;
    color: var(--back-color);
    background-color: var(--front-color);
    opacity: .7;
}

canvas {
    width: 95vw;
    height: calc((5.5/9)*95vw);
}

button {
    background: transparent;
    color: var(--front-color);
    width: 10em;
    height: 2em;
    min-height: 25px;
    padding: auto;
    border: 1px solid var(--front-color);
    opacity: .7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

button:hover {
    opacity: 1;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: transparent;
    border: 1px solid var(--front-color);
    border-radius: 0;
    outline: 1px;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--front-color);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--front-color);
    cursor: pointer;
}

@media (min-width: 920px) {
    canvas {
        width: 900px;
        height: 550px;
    }

    body {
        gap: 2em;
    }
}