* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --front-color: rgb(92, 207, 176);
    --back-color: rgb(21, 78, 56);
}

body {
    font-family: monospace;
    background-color: var(--back-color);
    color: var(--front-color);
    width: 100vw;
    max-width: 910px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    gap: 1.5em;
    padding-bottom: 5vh;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

header {
    width: 100%;
    margin-top: 6px;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    padding-inline: 0.5em;
    padding-bottom: .07em;
    color: var(--back-color);
    background-color: var(--front-color);
    opacity: .7;
}

canvas {
    width: 95vw;
    height: calc((5.5/9)*95vw);
}

button {
    background: transparent;
    color: var(--front-color);
    width: 10em;
    height: 2em;
    min-height: 25px;
    padding: auto;
    border: 1px solid var(--front-color);
    opacity: .7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

button:hover {
    opacity: 1;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: transparent;
    border: 1px solid var(--front-color);
    border-radius: 0;
    outline: 1px;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--front-color);
    background-size: 25px 25px;
    border-radius: 0;
    border: none;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--front-color);
    background-size: 25px 25px;
    border-radius: 0;
    border: none;
    cursor: pointer;
}

#density.slider::-webkit-slider-thumb {
    background-image: url('./assets/density.png');
}

#density.slider::-moz-range-thumb {
    background-image: url('./assets/density.png');
}

#depth.slider::-webkit-slider-thumb {
    background-image: url('./assets/depth.png');
}

#depth.slider::-moz-range-thumb {
    background-image: url('./assets/depth.png');
}

#height.slider::-webkit-slider-thumb {
    background-image: url('./assets/height.png');
}

#height.slider::-moz-range-thumb {
    background-image: url('./assets/height.png');
}

#point.slider::-webkit-slider-thumb {
    background-image: url('./assets/point.png');
}

#point.slider::-moz-range-thumb {
    background-image: url('./assets/point.png');
}

#solidity.slider::-webkit-slider-thumb {
    background-image: url('./assets/solidity.png');
}

#solidity.slider::-moz-range-thumb {
    background-image: url('./assets/solidity.png');
}

footer {
    width: 100%;
    padding-bottom: .1em;
    margin-top: 3em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .7em;
    color: var(--back-color);
    background-color: var(--front-color);
    opacity: .7;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 920px) {
    canvas {
        width: 900px;
        height: 550px;
    }

    body {
        gap: 2em;
    }
}

@media ((orientation: portrait) and (max-aspect-ratio: 3/5)) or ((orientation: portrait) and (min-height: 600px) and (max-aspect-ratio: 20/22)){
    footer {
        position: absolute;
        bottom: 9px;
    }

    aside {
        margin-top: 2em;
    }
}